<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lociamcorp.calculadora" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SIISARH ISR</name>
    <description>
        Empresa líder en el ramo de Recursos Humanos, con 24 años de experiencia en implantación de Nómina Fiscal especializada.
    </description>
    <author email="mauricio.soriano@katzesystems.com" href="http://katzesystems.com">
        Mauricio Soriano
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="9000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <icon src="icon.png" />
    <engine name="ios" spec="~4.5.4" />
</widget>
